@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
   font-family: 'Space Grotesk', Tahoma, Geneva, Verdana, sans-serif;
   user-select: none;
}
.hardcore-shake:hover {
    animation: shake 0.2s infinite linear;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}